.full-view {
  min-height: 100vh;
}

@supports (min-height: 100dvh) {
  .full-view {
    min-height: 100dvh;
  }
}

.view {
  height: 100vh;
}

@supports (height: 100dvh) {
  .view {
    height: 100dvh;
  }
}