.block {
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2em;
  color: white;
  transition: transform 0.2s ease-in-out;
  margin: 0.1em;
  font-weight: 500;
}

.block[data-value=""] {
  background-color: #BDAC97;
  color: #776e65;
}

.block[data-value="2"] {
  background-color: #eee4da;
  color: #776e65;
}

.block[data-value="4"] {
  background-color: #ecd2a0;
  color: #776e65;
}

.block[data-value="8"] {
  background-color: #f2b179;
}

.block[data-value="16"] {
  background-color: #f59563;
}

.block[data-value="32"] {
  background-color: #f67c5f;
}

.block[data-value="64"] {
  background-color: #f65e3b;
}

.block[data-value="128"] {
  background-color: #edcf72;
}

.block[data-value="256"] {
  background-color: #edcc61;
}

.block[data-value="512"] {
  background-color: #edc850;
}

.block[data-value="1024"] {
  background-color: #edc53f;
  font-size: 1.5em;
}

.block[data-value="2048"] {
  background-color: #edc22e;
  font-size: 1.5em;
}

@media screen and (max-width:600px) {
  .block {
    font-size: 1.3em;
    height: 4rem;
    width: 4rem;
    font-weight: semi-bold;
  }

  .block[data-value="1024"] .block[data-value="2048"] {
    font-size: 1em;
  }
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #9C8B7C;
  padding: 0.8rem;
  border-radius: 20px;
}

.parent>div {
  display: flex;
  flex-direction: column;
}

:root {
  user-select: none;
}

div:focus {
  outline: none;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  backdrop-filter: blur(4px);
}

.normal-bg {
  height: 7em;
  width: 7em;
  background-color: white;
  color: black;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}