@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
    height: 100%;
    /* Ensure the body and html take the full height of the viewport */
}

/* Special handling for mobile devices to avoid viewport height calculation issues */
@media (max-width: 767px) {

    html,
    body {
        height: -webkit-fill-available;
        /* iOS workaround for height calculation */
    }

    /* Ensures the page takes full screen height on mobile */
    .m-0 {
        min-height: 100vh;
        height: 100%;
    }
}

/* Optional: Prevent scrolling on mobile */
body {
    overscroll-behavior: none;
}